{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	<style>

		.example-wrapper {
			margin: 1em auto;
			height: 100vh;
			font: 18px / 1.5 sans-serif;
			background: url("./image.jpg")
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		<div>
			<h1>Naima TOURAGHE</h1>
			<p>Développeuse Web et Web Mobile</p>


		</div>
	{% endblock %}
