<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<style>
			html {
				scroll-behavior: smooth;
			}
			body {
				margin: 0;
				padding: 70px 0 0;
				box-sizing: border-box;
				overflow-x: hidden;
				font-family: 'Lato', sans-serif;
				height: 100vh;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: var(--color1);
				text-transform: uppercase;
				font-family: 'Montserrat', sans-serif;
			}
			:root {
				--color1: rgb(21, 104, 90);
				--color2: rgb(108, 117, 125);
				--color3: white;
			}
			.btn-primary:hover {
				color: var(--color3);
				background-color: var(--color1);
				border-color: var(--color1);
			}
			.btn-primary {
				color: var(--color1);
				background-color: var(--color3);
				border-color: var(--color1);
			}
			/*NAVBAR*/
			.navbar {
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 700;
				letter-spacing: 0.2rem;
				padding: 20px 0;
			}

			.navbar-light .navbar-nav .nav-link {
				padding-left: 20px;
			}

			.navbar-light .navbar-nav .nav-link.active,
			.navbar-light .navbar-nav .nav-link:hover {
				color: var(--color1)
			}
		</style>
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
			<div class="container">
				<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggler" type="button" aria-controls="navbarToggler" aria-label="Toggle navigation" aria-expanded="false">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarToggler">
					<ul class="navbar-nav mx-auto ">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('appHome') }}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('appPortfolio') }}">Portfolio</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html></body></html>
